@model DiarioDigital.Usuarios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />



<script>
    $(function () {
        $("#mostrar").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $("[id*=mg]").attr("type", type);
        });
    });
</script>





<br />
<br />
<h4 style="font-family:Garamond; background-color:black; color:white">Complete los datos para registrarse</h4>

<hr />

<div class="container" style="min-height:470px; padding-top:10px">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row" style="padding-bottom:20px">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="padding-bottom:20px">

            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row" style="padding-bottom:40px">
            @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.Password("Contraseña", null, new { @class = "form-control", id = "mg" })
                @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
            </div>
            <div class="col"><span id="mostrar" style="cursor:pointer" class="fa fa-fw fa-eye field_icon"></span></div>

        </div>



        <div class="row justify-content-md-center">

            <div class="col-lg-2">
                <input type="submit" value="Registrarse" class="btn btn-success" />
            </div>
            <div class="col-md-3 btn btn-dark bi bi-house-fill">
                @Html.ActionLink("Volver al inicio", "Index", "Articulo", null, new { style = "text-decoration:none; color:white; padding-left:2px" })

            </div>
        </div>


    }


</div>

