@model DiarioDigital.Usuarios
@{
    ViewBag.Title = "Logeo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>Introduzca sus datos</h2>
<hr />

@using (Html.BeginForm())
{
<div class="container">

    <div class="row" style="padding-bottom:20px">

        @Html.LabelFor(u => u.Email, "Correo electronico", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextBoxFor(u => u.Email, new { type = "Email" })
        </div>
    </div>

    <div class="row" style="padding-bottom:20px">

        @Html.LabelFor(u => u.Contraseña, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">  @Html.PasswordFor(u => u.Contraseña)</div>


    </div>

    <div class="row"> <div class="col-md-4"><input type="submit" value="Iniciar Sesion" class="btn btn-success" /></div></div>

    <hr />
    <p>Si no tienes una cuenta puedes registrarte  <span class="bi bi-person-plus-fill btn btn-danger">@Html.ActionLink("Registrarse", "create", "Usuario", null, new { Style = "text-decoration:none; color:white; padding-left:2px" })</span></p>


</div>
}