
@model IEnumerable<DiarioDigital.Subcomentarios>

@{


    Layout = null;


}


@foreach (var item in Model)
{



    <div class="container" style=" border-top: 1px solid grey">

        <div class="row" style="background-color:white">
            @Html.HiddenFor(modelItem => item.IdSubcoment)

            <div class="d-flex" style="color:cornflowerblue">

                <div class="p-2 flex-grow-1">@Html.DisplayFor(modelItem => item.Usuarios.Nombre) </div> <div class="p-2">@item.fechaSub</div>
            </div>

            <div class="d-flex align-items-center">

                <div class="flex-shrink-0 align-self-start"> <img src="~/Content/Imagenes/user1.jpg" width="61" height="61"></div>
                <div class="flex-grow-1 ms-3" style="background-color:white">@Html.DisplayFor(modelItem => item.subComentario) </div>

            </div>


            @if (User.Identity.IsAuthenticated)

            {

                <div class="row">
                    <div class="flex-shrink-0 align-self-start"> @Html.Action("Borrarsub", "Comentarios", new { id = item.IdSubcoment })</div>

                </div>

            }

        </div>
    </div>


}


