
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi aplicación ASP.NET</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="@Url.Content("~/Content/Miestilo.css")" rel="stylesheet" />
    @Styles.Render("~/Content/bootstrap.min.css")



    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">



</head>

<body style="background-color:black">

    <div class="container"  id="ContenedorPrincipal">
        <div class="row justify-content-center" style="padding-top:10px">
            <div class="row">
                <div class="col align-self-end" style="font-family:Garamond; font-weight:bolder; font-size:20px">@DateTime.Now.ToString(" dd MMMM yyyy HH: mm")</div>
                <div class="col align-self-center" id="cabecera">
                    <a href=@Url.Action("Index","Articulo")><img src="~/Content/Imagenes/mini.jpg" /></a>
                </div>

                <div class="col align-self-end text-end ">


                    @if (User.Identity.IsAuthenticated)
                    {
                        DiarioOnlineEntities db = new DiarioOnlineEntities();
                        var useractual = db.Usuarios.FirstOrDefault(x => x.Email == System.Web.HttpContext.Current.User.Identity.Name).Nombre;
                        <p class=" btn btn-dark bi bi-person-x-fill">
                            @Html.ActionLink("Cerrar Sesion", "terminarSesion", "Usuario", null, new { style = "text-decoration:none; color:white" })

                            <span style="background-color:crimson">@useractual</span>  
                        </p>
                    }
                    else
                    {

                        <p class=" btn btn-dark bi-person-fill">
                            @Html.ActionLink("Iniciar Sesion", "Logeo", "Usuario", null, new { style = "text-decoration:none; color:white " })

                        </p>
                    }


                </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <span id="menu2" class="d-block d-sm-none">Menu</span>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sgg" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="sgg">
                                <ul class="navbar-nav mx-auto" id="barraPrin">
                                    <li>@Html.ActionLink("Sociedad", "Sociedad", "Articulo", null, new { @class = "nav-link", style = "text-decoration:none;" })</li>
                                    <li>@Html.ActionLink("Ciencia y Tecnología", "CienciaYtecnologia","Articulo",null, new { @class = "nav-link", style = "text-decoration:none;" })</li>
                                    <li>@Html.ActionLink("Opinion", "opinion", "Articulo",null, new { @class = "nav-link", style = "text-decoration:none;" })</li>
                                    <li>@Html.ActionLink("Cultura", "Cultura", "Articulo",null, new { @class = "nav-link", style = "text-decoration:none;" })</li>
                                    <li>@Html.ActionLink("Deportes", "Deportes", "Articulo",null, new { @class = "nav-link", style = "text-decoration:none;" })</li>
                                    <li>@Html.ActionLink("Internacional", "Internacional","Articulo",null, new { @class = "nav-link", style = "text-decoration:none;" })</li>
                                    <li>@Html.ActionLink("Economia", "Economia", "Articulo",null, new { @class = "nav-link", style = "text-decoration:none;" })</li>
                                    <li>@Html.ActionLink("Politica", "Politica", "Articulo",null, new { @class = "nav-link", style = "text-decoration:none;" })</li>                              
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>


        <div class="container" style="max-width:890px">

            @RenderBody()
            <hr />
          
                <footer class="text-center text-lg-start bg-light text-muted" id="pie">
                    <p style="background-color:black; color:white">&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>

                    <div class="d-flex flex-row mb-3 justify-content-end">
                        <a><img src="~/Content/Imagenes/face.png" width="38" height="38" /></a>
                        <a><img src="~/Content/Imagenes/insta.png" width="38" height="38" /></a>
                        <a><img src="~/Content/Imagenes/twitter.png" width="38" height="38" /></a>
                        <a><img src="~/Content/Imagenes/whats.png" width="38" height="38" /></a>
                    </div>
                </footer>
   
        </div>    

         @Scripts.Render("~/bundles/jquery")
         @RenderSection("scripts", required: false)
    </div>

</body>
</html>










@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
